* {
margin: 0;
padding: 0;
}

body {
font-family: 'Montserrat', sans-serif;
font-size:1rem;
background-color: #187374;
background-image: url('bk.jpg');
background-size: cover;
background-repeat: repeat;
background-position: center center;

}

div, .square{
  text-align:center;
}

label, button, .square,.player_information, .turn-winner{
  color:white;
  border-radius: 10px;
}

h1, h3{
  margin: 4%;
  color:white;
}

h3{
  background-color: #E5B127;
  border:2px solid white;
  border-radius:10px;
  color:black;

}
label, button, h1, h3{
  text-transform:uppercase;
}
label h3{
    background-color:red;
    border-radius:10px;
}


ul{
  display: flex;
  list-style: none;
  flex-direction: column;
}

li{
  display: flex;
  flex-direction: row;
}

button{
  background-color: #0A2E2E;
  padding: 25px;
  margin:10px;
  border:2px solid #0A2E2E;
  font-size:1rem;
}

button:hover{
  background-color: white;
  color: #0A2E2E;

}

.square{
  margin: 1%;
  background-color:#0A2E2E;
  width: 60px;
  height: 60px;
}

.game{
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: flex-start;
  
}

.player{
  border-radius: 20px;
  padding: 4%;
  background-color: #64deeb80;
}

.player_information{
  margin: 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0746e4;
  padding:20px;
  border:2px solid

}

.turn-winner p{
  margin:10px;
  font-size:2.5rem;
  background-color: red;
  font-weight: 800;
  padding:10px;
  text-transform: uppercase;

}

.turn-winner label{
  margin:10px;
  font-size:2.5rem;
  font-weight: 800;


}