* {
margin: 0;
padding: 0;
}

body {
font-family: 'Montserrat', sans-serif;
font-size:1rem;
background-image: url(https://static.vecteezy.com/system/resources/previews/000/217/374/original/vector-icebreaker-ship-illustration.jpg);
}
div, .square{
  text-align:center;
}

h1{
  margin: 4%;
  color:black;
  text-transform: capitalize;
}

h3{
  text-transform:uppercase;
  margin: 4%;
  background-color: coral;
  border-radius:10px;

}
label{
  text-transform:uppercase;
}
label h3{
    margin: 4%;
    background-color:yellow;
    border-radius:10px;
}


ul{
  display: flex;
  list-style: none;
  flex-direction: column;
}

li{
  display: flex;
  flex-direction: row;
}

button{
  background-color: inherit;
  border: 3px solid white;
  border-radius: 10px;
  padding: 5px 8px;
}

button:hover{
  background-color: lightseagreen;
  color: white;
  border: solid;
}

.square{
  color: white;
  margin: 1%;
  background-color: lightskyblue;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.game{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.player{
  border-radius: 20px;
  padding: 4%;
  background-color: rgba(250, 199, 136, 0.5)
}

.player_information{
  margin: 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.turn-winner p{
  margin:10px;
  font-size:3rem;
  background-color: mediumvioletred;
  font-weight: 800;
  text-transform: uppercase;
}